### [ 결정 트리 Decision Tree 기본 실습 문제]

#### [1] DecisionTreeClassifier 를 이용한 예측 모델 구현

- "balance-scale.csv" 파일을 읽어와서 train 데이터와 test 데이터의 비율을
- 70% 와 30% 비율로 쪼개서 DecisionTreeClassifier 을 사용하여 train 데이터를
- 학습 시키고 test 데이터를 이용하여 정확도를 측정하는 코드를 구현하세요
- accuracy_score 와 classification_report 를 사용하여 정확도를 구한다

1. Class Name: 3 (L, B, R)
2. Left-Weight: 5 (1, 2, 3, 4, 5)
3. Left-Distance: 5 (1, 2, 3, 4, 5)
4. Right-Weight: 5 (1, 2, 3, 4, 5)
5. Right-Distance: 5 (1, 2, 3, 4, 5)

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 한글 출력을 위한 설정
import matplotlib
matplotlib.rcParams['font.family']="NanumBarunGothic"
matplotlib.rcParams['axes.unicode_minus'] = False

# Decision Tree 모듈 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [34]:
col_names = ['Class_Name', 'Left-Weight', 'Left-Distance', 'Right-Weight', 'Right-Distance']
balance = pd.read_csv('../DataSet/balance-scale.csv', header = None,  names = col_names)
balance

    Class_Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [39]:
balance_data = balance.iloc[:,1:]   # x data 
balance_label = balance.iloc[:,0]    # y data
balance_data

     Left-Weight  Left-Distance  Right-Weight  Right-Distance
0              1              1             1               1
1              1              1             1               2
2              1              1             1               3
3              1              1             1               4
4              1              1             1               5
..           ...            ...           ...             ...
620            5              5             5               1
621            5              5             5               2
622            5              5             5               3
623            5              5             5               4
624            5              5             5               5

[625 rows x 4 columns]

### test/train

In [41]:
X_train, X_test, y_train, y_test = train_test_split(balance_data, balance_label, test_size=0.3, 
                                                    random_state=11)

In [43]:
dt_clf = DecisionTreeClassifier(random_state=11)

In [44]:
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=11, splitter='best')

In [45]:
pred = dt_clf.predict(X_test)
pred

array(['L', 'L', 'L', 'R', 'R', 'R', 'L', 'R', 'L', 'R', 'L', 'L', 'L',
       'L', 'L', 'L', 'R', 'R', 'R', 'B', 'L', 'L', 'R', 'L', 'R', 'L',
       'L', 'R', 'L', 'R', 'L', 'R', 'R', 'R', 'B', 'R', 'L', 'R', 'R',
       'R', 'L', 'R', 'R', 'L', 'R', 'R', 'R', 'R', 'B', 'R', 'R', 'R',
       'B', 'R', 'L', 'B', 'L', 'R', 'R', 'L', 'L', 'L', 'L', 'R', 'R',
       'L', 'R', 'R', 'R', 'L', 'R', 'R', 'L', 'B', 'R', 'L', 'L', 'L',
       'L', 'R', 'L', 'R', 'R', 'L', 'L', 'L', 'R', 'L', 'L', 'L', 'L',
       'L', 'L', 'L', 'L', 'B', 'R', 'R', 'R', 'L', 'L', 'L', 'R', 'R',
       'L', 'B', 'R', 'R', 'B', 'L', 'R', 'R', 'R', 'L', 'R', 'L', 'L',
       'L', 'R', 'L', 'B', 'B', 'R', 'R', 'R', 'L', 'L', 'R', 'L', 'L',
       'R', 'L', 'B', 'L', 'R', 'B', 'B', 'L', 'L', 'L', 'R', 'R', 'L',
       'R', 'R', 'R', 'L', 'R', 'R', 'R', 'R', 'B', 'L', 'L', 'B', 'L',
       'R', 'R', 'R', 'B', 'L', 'R', 'L', 'L', 'L', 'R', 'R', 'L', 'B',
       'L', 'R', 'R', 'L', 'L', 'R', 'L', 'L', 'R', 'R', 'L', 'R', 'R',
       'R', 'R', 'L', 'B', 'R', 'R'], dtype=object)

In [47]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [48]:
print('정확도: {0:.4f}'.format(accuracy_score(y_test,pred)))

cl_report = classification_report(y_test,pred)
print('리포트:\n',cl_report)

정확도: 0.7819
리포트:
               precision    recall  f1-score   support

           B       0.00      0.00      0.00        14
           L       0.88      0.82      0.85        88
           R       0.86      0.87      0.87        86

    accuracy                           0.78       188
   macro avg       0.58      0.56      0.57       188
weighted avg       0.81      0.78      0.79       188