### 문자열 심화버전

In [1]:
message = "Hello world"
message

'Hello world'

In [2]:
# 무언가를 검색하고 색인하고 싶을때는 [ ]  로
message[0]

'H'

In [6]:
# 모든 프로그램 언어는 0부터 counting 한다.  0,1,2,3,4....
message[1]

'e'

In [5]:
# indexing
message[-1]

'd'

In [7]:
+0 == -0

True

In [8]:
# slising
message[0:4] # 0번째 ~ 3번째

'Hell'

In [9]:
message[4]

'o'

In [10]:
"H" in message

True

In [11]:
"Hell" in message

True

In [14]:
# method 
message.replace("H", "J")

'Jello world'

###  리스트 
- indexing
- slicing

In [17]:
odd  = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [19]:
odd[:4]

[1, 3, 5, 7]

In [18]:
1 in odd

True

#### append 계속 값  추가

In [20]:
odd.append(11)
odd

[1, 3, 5, 7, 9, 11]

###  pop

In [32]:
odd.pop()
odd

[7, 5, 3, -1, 13, 14, 15, 13, 14]

In [26]:
odd.reverse()
odd

[7, 5, 3, 1]

In [28]:
odd = odd  + [13,14,15]
odd

[7, 5, 3, 1, 13, 14, 15, 13, 14, 15]

In [30]:
odd[3]= -1
odd

[7, 5, 3, -1, 13, 14, 15, 13, 14, 15]

### If문

In [38]:
age = 10
if age <5:   
    print("아이") 
elif age <18:
    print("학생")
else:
    print("어른")

학생

### 반복문 for 문

In [47]:
basket = ["apple", "banana", "chiken", "pinapple", "cherry"]
basket

['apple', 'banana', 'chiken', 'pinapple', 'cherry']

In [46]:
print(basket[0])
print(basket[1])
print(basket[2])
print(basket[3])
print(basket[4])

apple
banana
chiken
pinapple
cherry

In [48]:
for product in basket:    # product 라는 변수에 할당하라는 뜻
    print(product)

apple
banana
chiken
pinapple
cherry

In [56]:
for i in range(1,10):  # 10회를 반복할 수 있다. 
    if i == 5:         # 5일때      
        print('bang!') # bang! 출력
    print(i)           # 아닐때 다른거 출력 
    print('complete')

1
complete
2
complete
3
complete
4
complete
bang!
5
complete
6
complete
7
complete
8
complete
9
complete

###  함수 

- 50줄 짜리 코드 1를 함수 이름으로 묶는다.
- 기능을 고쳐야 한다. 그 함수 하나만 고치면 된다.

In [64]:
# define
# 변수명 만드는 것과 동일하다.
def multiply(a,b):
    c =  a*b
    return c

In [66]:
multiply(2,3)  # multiply  함수를 실행

6

In [63]:
multiply(12312,23233)

286044696

In [70]:
def sign(n):    
    if n > 0:
        return "양수"
    elif n <0:
        return "음수"
    else:
        return '0'

In [71]:
sign(-1)

'음수'

In [77]:
sign(+2)

'양수'

In [75]:
sign(0)

'0'

In [78]:
for n in [-1, 0, +1]:
    print(sign(n))

음수
0
양수